<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Home from HTML file</title>
  </head>
  <body>
    <h1>Home from HTML file</h1>
    <p>Nippu Kumar</p>
    <p>Hello <%=name %></p>
    <h5>Hello <%=40+50 %></h5>
    <h5>Hello <%=locals %></h5>
    <h5>Hello <%=locals.name %></h5>
  </body>
</html>
